<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Что это за животное?</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Что это за животное?</h1>
            <img src="static/parrot.png" alt="Parrot" class="parrot-image">
        </div>
        <div class="content">
            <div class="upload-area"></div>
            <div class="button-container">
                <button class="button recognize-button">Распознать</button>
            </div>
            <div class="result-container"></div>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>